<!DOCTYPE html>
<html>
<head>
  <title>ContactsBook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<%= link_to "Home", root_path %>
		<%= link_to "View", view_path %>
		<%= link_to "Create", new_contact_path %>
</nav>
<%= yield %>

<footer><%= Time.now.strftime("%A %m/%d/%Y %H:%M:%S %p") %></footer>
</body>
</html>
